body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

main > div:first-of-type {
    width: 100%;
    background-color: #eeeeee;
    font-family: 'Axiforma', sans-serif;
    font-size: 20px;
    font-style: italic;
    padding: 35px 35px 35px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    border-left: 5px solid #46a4bb;
}

main {
    width: 800px;
    margin: 0 auto;
}

h1 {
    margin-top: 50px;
}

span {
    font-family: 'Axiforma-light', sans-serif;
}

h2:after,
main div > section h3:after {
    height: 4px;
    margin-top: 5px;
    background-color: #46a4bb;
    width: 50px;
    content: "";
    display: block;
}

main div > section h3:after {
    width: 35px;
    height: 3px;
}

a {
    text-decoration: none;
}

img[src=""] {
    display: none;
}

/* Eerste heading */
main > div:first-of-type img {
    border-radius: 8px;
}

main > div {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

main div > section h3 {
    margin-top: 0;
    margin-bottom: 8px;
}

main div > section ul {
    padding-left: 1em;
}

main div > section div > span {
    color: white;
}

main div > section ul {
    margin-top: 5px;
}

main div > section h3, main div > section ul li {
    color: white;
    text-align: left;
}

main div > section {
    margin: 0 0 20px 0;
    width: 48%;
    height: 320px;
    overflow: hidden;
    border-radius: 8px;
    transition-duration: 0.7s;
}

/* Overlay */

main div > section a div {
    width: 100%;
    height: 320px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px;
    position: relative;
    z-index: 1;
    transition-duration: 0.7s;
    margin-top: -320px;
    border-radius: 8px;
    opacity: 0;
}

/* Overlay | Items */
main section > a img {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: -0.25em;
    margin-top: 0;
    transition-duration: 0.7s;
}

main > h2 {
    margin-top: 50px;
}

main div > section:hover img {
    filter: blur(8px);
    -webkit-filter: blur(8px);
    transition-duration: 0.7s;
}

main div > section:hover div {
    opacity: 1;
    transition-duration: 0.7s;
}

footer {
    width: 100%;
    background-color: #eeeeee;
    display: inline-flex;
    justify-content: center;
    margin-top: 50px;
}

footer small span {
    font-family: 'Axiforma-Bold', sans-serif;
}

footer small {
    width: 800px;
    text-align: left;
    font-family: 'Axiforma', sans-serif;
    margin: 20px 0;
}
