$main-color: #00aaa0;
$sub-color: #002951;
$txt-color: #686868;

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');


h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display', serif;
    margin: 10px 0;
    font-weight: lighter;
    &::after {
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        background-color: $main-color;
        opacity: 0.5;
        margin-top: 15px;
    }
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: $txt-color;
}

body {
    margin: 0;
}

#app {
    display: flex;
}

// fade in animatie descriptionOfPage

.descriptionOfPage h1,
.descriptionOfPage button,
.descriptionOfPage img,
.descriptionOfPage p {
    -webkit-animation: fadeOutFromNone 1.5s ease-out;
    -moz-animation: fadeOutFromNone 1.5s ease-out;
    -o-animation: fadeOutFromNone 1.5s ease-out;
    animation: fadeOutFromNone 1.5s ease-out;
}

.moveToSide .descriptionOfPage h1,
.moveToSide .descriptionOfPage button,
.moveToSide .descriptionOfPage img,
.moveToSide .descriptionOfPage p {
    -webkit-animation: fadeInFromNone 1.5s ease-out;
    -moz-animation: fadeInFromNone 1.5s ease-out;
    -o-animation: fadeInFromNone 1.5s ease-out;
    animation: fadeInFromNone 1.5s ease-out;
}

@-webkit-keyframes fadeOutFromNone {
    100% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    0% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeOutFromNone {
    100% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    0% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeOutFromNone {
    100% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    0% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeOutFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-moz-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@-o-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}
